<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/report.png" type="image/x-icon">
    <link rel="stylesheet" href="css/notification.css" />
    <link rel="stylesheet" href="css/report.css">
    <title>Reports</title>
  </head>
  <body>
    <header><h1>Report</h1></header>
    <main id="main">
      <p id="notification"></p>
      <h2>Orders</h2>
      <div>
        <section id="orderSection"></section>
      </div>
      <h2>Waiter rankings</h2>
      <div>
        <section id="waiterSection"></section>
      </div>
      <h2>Out of Stock Items</h2>
      <div>
        <section id="outOfStock"></section>
      </div>
    </main>
    <footer>
        <h1>QuickServe POS &copy; 2025</h1>
    </footer>
    <script type="module" src="js/report.js"></script>
  </body>
</html>
