<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"
        name="description"
        content="find better software solutions for your restaurant and attract visiting clients to experience the thrill"
        >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Waiterhtmlpagepos</title>
        <link rel="stylesheet" href="./thewaiter.css"/>
    </head>
    <body> 
        <header>
            <h1>Waiter Pos</h1>
            <p>Take an order</p>
        </header>
        <main>
            <section>
                </div>
                <ul id="ordersPreview">
                    <!-- Orders from the customer will be listed here for the waiter to pick 1 -->
            </section>
            <section>
                <h2>ORDERS served</h2>
                <div id="ordersTaken">
                    <!--live preview of the orders taken will be in here-->

                </div>

            </section>
        </main>
        <footer>
            <button id="saveOrderButton">Save Order</button>
        </footer>
        <script src="thewaiter.js"></script>
    </body>
</html>    
